
body {
    margin: 0;

    * {
        display: flex;
    }
}

header {
    background-color: rgb(128, 193, 236);
    padding: 1rem;
}

.login-container {
    flex: 1;
    align-items: center;
    justify-content: center;
    height: 75vh;
}

.login-form {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #f5f9ff;
    padding: 1rem;
    padding-bottom: 3rem;
    padding-top: 0.1rem;
    width: 33%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.38) 0px 0px 68px -5px;
}

.login-title {
    width: 90%;
    border-bottom: black solid 1px;
    margin-bottom: 1rem;
    justify-content: center;
}

.login-content {
    flex-direction: column;
    width: 100%;
   
    * {
        justify-content: center;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;

        input {
            width: 80%;
            border-radius: 10px;
            border: rgb(107, 107, 107) solid 1px;
            padding: 10px;
        }
    }
}

.login-submit-button {
    justify-content: start;
    padding-left: 2.4rem;
    
    button {
        padding: 0.9rem 0.9rem;

        background-color: #0099f7;
        color: white;
        border: none;
        text-align: center;
        cursor: pointer;
        border-radius: 50px;
    }
}

.login-password {
    flex-direction: column;
}

#show-password-button {
    border:1px solid blue;
    background:blue;
    color:white;
    content: "Show";
}